<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/application.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div id="header">
  <img src="/images/logo.jpg">
</div>
<%= yield %>
</body>
</html>